*{
    margin: 0;
    padding: 0;
}
.port{
    color: rgb(17, 224, 224);
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 30px;

}
.port h1:hover{
   color: chocolate;
}
